<div (mfeHeader_item_clicked)='navigateTo($event)'>
    <ng-container #mfeHeader></ng-container>
    <div class="main-wrapper">
        <div class="primary-rail" >
            <ng-container #mfeLinkNav></ng-container>
        </div>

        <div class="main">
            <button class="dismiss-notifications" (click)='clearNotifications()'>Clear Notifications</button>

            <div (mastermessage_primary_click)='clearNotifications()'>
                <router-outlet></router-outlet>
            </div>
        </div>

        <ul>
            <ng-container *ngFor="let item of notifications$ | async">
                <li class="notification" >
                    notificationId : {{item.id}}
                </li>
                <br>
            </ng-container>
        </ul>


    </div>
</div>

