
/* Hallo */

.main-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.main {
    margin: 1em;
}

.primary-rail, .main {
}

.leftSidebar {
    position: relative;
    left: -18px;
    top: -38px;
}

.dismiss-notifications {
}
